einops==0.8.1
fairscale==0.4.13
matplotlib==3.10.7
numpy==2.2.6
opencv_python_headless==4.12.0.88
Pillow==12.0.0
pytorch_lightning==2.6.0
scipy==1.16.3
taichi==1.7.4
torch==2.9.0
tqdm==4.67.1
tensorboard==2.20.0
torchmetrics==1.8.2

# These comments help the dependencies resolver
#:_wmi
#:_elementtree
#:PIL
#:msvcrt
#:_winapi
#:huggingface_hub
#:safetensors
#:nt
#:regex
#:multiprocessing
#:sklearn
#:pandas